[*.cs]

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none

# SA1649: File name should match first type name
dotnet_diagnostic.SA1649.severity = none
